@import "~antd/dist/antd.css";
.table-container {
  border: 3px solid #282a36;
  margin: 12px 24px;
  padding: 24px;
  background-color: #fff;
  border-radius: 8px;
}
.table-discription {
  font-size: 32px;
  font-weight: 500;
  padding: 5px;
  text-decoration: underline;
  cursor: pointer;
  color: #1890ff;
}
.ant-table-thead {
  background: burlywood;
}
span,
span.ant-table-filter-column-title,
th.ant-table-cell {
  white-space: nowrap;
}
