@import "~antd/dist/antd.css";

/* Shared use*/
.card-container {
  border: 3px solid #282a36;
  margin: 12px 24px;
  padding: 24px;
  background-color: #fff;
  border-radius: 8px;
}
.link {
  text-decoration: underline;
  color: #699a21;
}

.subtitle {
  color: #555;
  font-weight: 300;
  font-size: 40px;
  margin: 0;
}

.case-count {
  color: #aaa;
  font-weight: bold;
  font-size: 50px;
  margin: 0;
}

/*End Shared use*/
.title {
  background-color: #f5f5f5;
  width: 70%;
  margin: auto;
}

.title p {
  color: #77778b;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin: 10px;
}

.last-updated {
  text-align: center;
}

.link-content {
  text-align: center;
}

.total-cases {
  text-align: center;
  margin-top: 30px;
}

.total-deaths {
  text-align: center;
  margin: 10px;
}

.recovered {
  text-align: center;
  margin: 10px;
}

.recovered p {
  color: #699a21;
}
